<center><h2>Dar de alta orden</h2></center>
<form name="empleadofrm" 
ng-submit="ctl.guardar()">
  producto:<br>
  <input type="text" name="producto" ng-model="ctl.orden.producto">
  <br>
  cantidad:<br>
  <input type="text" name="cantidad" ng-model="ctl.orden.cantidad">
  <br>
  categoria:<br>
  <input type="text" name="categoria" ng-model="ctl.orden.categoria">
  <br>
  fechalimite:<br>
  <input type="text" name="fechalimite" ng-model="ctl.orden.fechalimite">
  <br>
  cliente:<br>
  <input type="text" name="cliente" ng-model="ctl.orden.cliente">
 
  
  <br>
  <br>
  <input type="submit" value="Guardar" title="Guardar">

</form> 