<center><h2>Dar de alta producto</h2></center>
<form name="empleadofrm" 
ng-submit="ctl.guardar()">
  Nombre:<br>
  <input type="text" name="nombre" ng-model="ctl.producto.nombre">
  <br>
  formula:<br>
  <input type="text" name="formula" ng-model="ctl.producto.formula">
  <br>
  cantidad:<br>
  <input type="text" name="cantidad" ng-model="ctl.producto.cantidad">
  <br>
  almacen:<br>
  <input type="text" name="almacen" ng-model="ctl.producto.almacen">
  <br>
  fechaproducto<br>
  <input type="text" name="fechaproducto" ng-model="ctl.producto.fechaproducto">
  <br>
  fechacad<br>
  <input type="text" name="fechacad" ng-model="ctl.producto.fechacad">
  <br>
  
  <br>
  <br>
  <input type="submit" value="Guadar" title="Guardar">

</form> 