<center><h2>Dar de alta material</h2></center>
<form name="empleadofrm" 
ng-submit="ctl.guardar()">
  Nombre:<br>
  <input type="text" name="nombre" ng-model="ctl.material.nombre">
  <br>
   cantidadexistente:<br>
  <input type="text" name="cantidadexistente" ng-model="ctl.material.cantidadexistente">
  <br>
  ubicacion:<br>
  <input type="text" name="ubicacion" ng-model="ctl.material.ubicacion">
  <br>
  estatus:<br>
  <input type="text" name="estatus" ng-model="ctl.material.estatus">
  <br>
  provedor:<br>
  <input type="text" name="provedor" ng-model="ctl.material.provedor">
  <br>
 
  
  <br>
  <br>
  <input type="submit" value="Guadar" title="Guardar">

</form> 