<center><h2>Dar de alta formula</h2></center>
<form name="empleadofrm" 
ng-submit="ctl.guardar()">
  Nombre:<br>
  <input type="text" name="nombre" ng-model="ctl.formula.nombre">
  <br>
  material1:<br>
  <input type="text" name="material1" ng-model="ctl.formula.material1">
  <br>
  material2:<br>
  <input type="text" name="material2" ng-model="ctl.formula.material2">
  <br>
  producto:<br>
  <input type="text" name="producto" ng-model="ctl.formula.producto">
  <br>
  numerodeserie:<br>
  <input type="text" name="numerodeserie" ng-model="ctl.formula.numerodeserie">
 
  
  <br>
  <br>
  <input type="submit" value="Guardar" title="Guardar">

</form> 